appscript==1.1.2
astroid==2.5.6
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
css==0.1
et-xmlfile==1.1.0
grammar==1.6
idna==2.10
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
numpy==1.20.3
openpyxl==3.0.7
pandas==1.2.4
psutil==5.8.0
pyarrow==4.0.0
pylint==2.8.2
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.2.1
toml==0.10.2
urllib3==1.26.4
vineyard==0.2.1
wrapt==1.12.1
xlwings==0.23.3
